RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^rekruitment\.skuycode\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.rekruitment\.skuycode\.com$
RewriteRule ^/?$ "https\:\/\/skuycode\.com\/504" [R=302,L]

